html, body{padding: 0px; margin: 0px;}
.App{
    background-color: #eeeeee;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}


.navBarDiv
{margin: 0px;padding: 0px;}


.navBarList
{
    margin: 0px;padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    list-style-position: inside;
    list-style-type: none;
}



.navBarList-Index{
    float: left;
}



