html, body{padding: 0px; margin: 0px;}
.App{
    background-color: #eeeeee;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}


.navBarDiv
{
    margin: 0px;padding: 0px;
    display: block;
}


.navBarList
{
    margin: 0px;padding: 0px;
    list-style-position: inside;
    list-style-type: none;
    display: inline-block;
}


.navBarList-Right
{
    float: right;
}



.navBarList-Index{
    display: inline;
}



