*{transition: background-color .5s, color .5s;}

html, body{padding: 0px; margin: 0px;}
html{
    height: 100vh;
}

.App{
    background-color: #eeeeee;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}



.form-error{color:red;}

/*NAVBAR*/

.navBarDiv
{
    margin: 0px;padding: 0px;
    display: block;
    background-color: #222222;
}


.navBarList
{
    margin: 0px;padding: 0px;
    list-style-position: inside;
    list-style-type: none;
    display: inline-block;
    padding-left: .5em;
    
}


.navBarList-Right
{
    float: right;
    padding-left: 0;
    padding-right: 0.5em;
}



.navBarList-Index{
    display: inline-block;
}


.navBarList-Index-Link
{
    display: block;
}


.navBarIndexButton
{
    /*Surroundings*/
    height: 2.0em;
    max-height: 2em;
    margin: 0px;
    padding: 0 .4em;
    border-width: 0px;
    background-color: transparent;
    color: #eeeeee;
    /*Content*/
    font-size: 2em;
}

.navBarIndexButton:hover
{
    background-color: #eeeeee;
    color: #222222;
    cursor: pointer;
}






/*PAGINATION*/


.pagination{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 2em;
}


.paginationListIndex{
    list-style-position: inside;
    list-style-type: none;
    padding: 0; margin: 0;   
}


.PaginationButton
{
    margin:0;
    border: solid 1px black;
    border-radius: 0px;
    font-size: 1.2em;
    width: 2em;
    height: 2em;
    background-color: #222222;
    color: #eeeeee;
}





.PaginationButton-disabled{
    color: #999999;
    background-color: transparent;
}



.PaginationButton:hover{
    cursor: pointer;
    background-color: lime;
}



.PaginationButton-disabled:hover{
    cursor: auto;
    background-color: transparent;
}


/* Product List*/
.ProductsList{
    margin: 0;
    padding-left: 2em;
    padding-right: 2em;
}




/* Product Card */




.productCard-productName { grid-area: productCard-productName; }
.productCard-productPrice { grid-area: productCard-productPrice; }
.productCard-productInStock { grid-area: productCard-productInStock; }





.productCard {
    border:solid black 1px;
    width: 100%;
    display: grid;
    grid-template-areas:
    'productCard-productName productCard-productName'
    'productCard-productPrice productCard-productInStock';
    grid-template-columns: 50% 50%;
  }


.productCardContainer{
    padding-bottom: 1em;
    list-style-position: inside;
    list-style-type: none;
}





.productCardInStock{
    background-color: lightgreen;
}

.productCardOutOfStock{
    background-color: pink;
}


.productCardOutOfStock:hover, .productCardInStock:hover{
    background-color: transparent;
}




.productCard-productInStock-In
{
    color:darkgreen;
    text-shadow: lime 1px 1px 1px;
}


.productCard-productInStock-Out
{
    color:darkred;
    text-shadow: red 1px 1px 1px;
}

.productCard-Element{
    padding: .25em;
    font-size: 1.25em;;
}





.navBarList-Index > .active{
    background-color: lime;
}





.message-of-error-page
{
    color: red;
    font-size: 2em;
    font-weight: bold;
}